<div class="footer">
<div class="wrap"> 

<div class="box1">
<h4>Policy & Terms</h4>
        <ul>
            <li><a href="tems.html">Terms & Conditions</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>

        </ul>
</div>

<div class="box1">
    <div class="hide-box">
<h4>About Us</h4>
        <ul>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="sitemap.html">Site Map</a></li>
        </ul>
</div>
    </div>
<div class="box1">
<h4>Stay in touch on</h4>
        <ul class="social">
            <li><img src="http://ph8tel.com/images/facebook.png" title="facebook"><a href="https://www.facebook.com/kyter">Facebook</a></li>
            <li><img src="http://ph8tel.com/images/instagram.png" title="instagram"><a href="https://www.instagram.com/ph8tel/">Instagram</a></li>
            <li><img src="http://ph8tel.com/images/youtube.png" title="youtube"><a href="https://youtube.com/ph8tel">YouTube</a></li>
        </ul>
</div>
<div class="clear"> </div>
</div>
</div>
<div class="clear"> </div>
<div class="copy-right">
<p>&#169 2018 All rights Reserved | Design by &nbsp;<a href="http://jacksonmedia.us">Jackson Media</a></p>
</div>