<div class="header">
<!----start-Logo---->
<div class="logo">
    <a href="/"><img src="/images/icon.png" title="logo" height="66px"/></a>
</div>
<!----End-Logo---->
<!----start-top-nav---->
<% include ./nav.ejs %>
<div class="clear"> </div>
<!----End-top-nav---->
</div>