<ul class="dc_pagination dc_paginationA dc_paginationA03">
<li><a href="#" class="first">First</a></li>
<li><a href="#" class="current">1</a></li>

<% for(var i=0; i<data.length; i++) { %>
<li><a href="/profile/video/<% i %>" ><%= i %></a></li>
	  
<% } %>
<li><a href="#" class="next">Next</a></li>
<li><a href="#" class="last">Last</a></li>

</ul>