<div class="searchbar">
		<div class="search-left">
			<p><%= user %>'s videos</p>
		</div>
		<div class="search-right">
		<form>
			<input type="text"><input type="submit" value="" />
		</form>
	</div>
	<div class="clear"> </div>
</div>