.Modal {
  position: relative;
  width: 766px;
  height: 829px;
  left: 337px;
  top: 105px;
  border-radius: 5px;
  background-color: #448EB8;
  z-index: 500;
  transition: all 0.3s ease-out;
  -webkit-user-drag: element;
}

.modalTitle {
  position: absolute;
  width: 260px;
  height: 43px;
  left: 229px;
  /* top: 124px; */

  font-family: Arial Verdana;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}

.line {
  color: indianred;
}
.LineChart {
  position: absolute;
  top: 150px;
}

.buttonList {
  position: absolute;
  left: 600px;
  top: 150px;
}

