<!DOCTYPE html>
<html>

<head>
    <title>Mariner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>CURRENT WORKING API ROUTES</h1>
    <ul>
        <a href="/API/getComments">
            <li>get Comments</li>
        </a>
        <a href="/API/getCommenterImages">
            <li>get Commenter Imagess</li>
        </a>
    </ul>
</body>

</html>