<!DOCTYPE html>
<html>

<head>
    <title>Mariner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>CURRENT WORKING API ROUTES</h1>
    <ul>
        <a href="/API/getComments">
            <li>get Comments</li>
        </a>
        <a href="/API/getCommenterImages">
            <li>get Commenter Images</li>
        </a>
        <a href="/API/getCommenterNames">
            <li>get Commenter Names</li>
        </a>
        <a href="/API/getTotalLikes">
            <li>get Total Likes</li>
        </a>
        <a href="/API/getAllVideoPlayLists">
            <li>get ALL User Play Lists </li>
        </a>
    </ul>
</body>

</html>