<html>
<header>
<h1>User Name 
    <%= user.name %>
</h1>
<h2>User Id
    <%= user.id %>
</h2>
</header>
<main>
<div id="test-name" >
  <p>User exists on login: </p><%= user.tests.loginResult %>
</div>
</main>
</body>

</html>