<!DOCTYPE html>
<html>
  <head>
    <title>TESTING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SA TESTING</h1>
    <a href="/test/negative"> Test for negative content</a><br>
    <a href="/test/positive"> Test for positive content</a><br>
    <form name="form1" method= "POST" action="/test/text">
    Test custom content<input type="text" name="text"   >
    </form>
    
    

  </body>
</html>
