<html>
<header>

</header>
<main>
<div id="test-name" >
  <p>SA gives response for text: <em> <%= result %> </em> </p>
  <p>SA response is: <%= JSON.stringify(data) %></p>
</div>
</main>
</body>

</html>