.thumbnail {
  position: absolute;
  width: 480px;
  height: 270px;
  left: 0px;
  top: 200px;
  border-radius: 5px;
}

.videoTitle {
  position: absolute;
  width: 331px;
  height: 29px;
  left: 90px;
  top: 467px;

  font-family: Trebuchet MS;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;

  color: #000000;
}