.TitleBar {
  position: absolute;
  width: 317px;
  height: 43px;
  left: 561px;
  top: 30%;

  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;

  color: #000000;
}