<html>
<header>

</header>
<main>
<a href="/">BACK</a>

<div id="test-name" >
  <p>Sample Negative text <em> <%= text %> </em> </p>
  <p>Should return negative valence: <em> <%= valenceResult %> </em> </p>
  <p>Should return an object: <em> <%= typeResult %></em></p>
</div>
</main>
</body>

</html>